.sidebar{
    background-color: blue;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: 50px;
}

.west{
    line-height: 30px;
    background-color: aqua;
    color: brown;
    width: 1148px;
    height: 350px;
    float: left;
}

.Album{
    text-align: center;
    float: left;
    background-color: chocolate;
}

.spectrum{
    width: 250px;
    height: 250px;
}


nav{
    background-color: purple;
    float: left;
    line-height: 30px;
    height: 350px;
    width: 200px;
}

.personal{
    width: 250px;
    height: 250px;
    border-radius: 8px;
}


h3{
    line-height: 25px;
}

li{
    line-height: 30px;
}

.About{
    background-color: brown;
}
.body{
    background-color: palevioletred;
    height: 700px;
}

.Service{
    background-color: cadetblue;
    height: 700px;
}